<div>
    <h3 style="text-align: center">
        <span ng-click="loadAllClients()">
        Dashboard
        <small style="cursor: pointer" class="pull-right glyphicon glyphicon-refresh" style="right: 40px"></small></span>
    </h3>
    <div class="alert alert-success">
        <strong ng-show="message">{{message}}</strong>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Ip</th>
                <th><span class="glyphicon glyphicon-piggy-bank"></span></th>
                <th><span class="glyphicon glyphicon-random"></span></th>
                <th><span class="glyphicon glyphicon-dashboard"></span></th>
                <th><span class="glyphicon glyphicon-stats"></span></th>
                <th><span class="glyphicon glyphicon-wrench"></span></th>
                <th><span class="glyphicon glyphicon-hand-down"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clients">
            <td>{{ client.ip }} <span ng-show="client.abort" class="badge pull-right">Will abort</span></td>
                <td>
                    <a style="cursor: pointer" ng-click="showHistoryPopup(client)" 
                            type="button">{{client.history.length}}
                    </a>
                </td>
                <td><span class="label"
        			ng-class="{'label-success': client.progress == 100,
        			'label-danger': client.progress == 0,
        			'label-warning': client.progress > 0 && client.progress < 100}">
        			{{displayProgressRank(client)}}</span>
                </td>
                <td><span class="label"
        			ng-class="{'label-success': client.progress == 100,
        			'label-danger': client.progress == 0,
        			'label-warning': client.progress > 0 && client.progress < 100}">
        			{{client.progress + ' %'}}</span>
                </td>
                <td style="cursor: pointer" ng-click="showStats(client)"><span class="glyphicon glyphicon-fullscreen"></span></td>
                <td style="cursor: pointer" ng-click="configure(client)"><span class="glyphicon glyphicon-cog"></span></td>
                <td ng-show="(client.progress == 0 || client.progress == 100) && client.ip.indexOf('*') < 0" ng-click="launch(client)" style="cursor: pointer">
                    <span class="glyphicon glyphicon-play-circle"></span>
                </td>
                <td ng-show="(client.progress != 0 && client.progress != 100) || client.ip.indexOf('*') >= 0">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Add a new client or subnet" ng-model="newclient.ip">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addClient(newclient)">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            </span>
        </div>
    </form>
</div>
