<div>
<H3 style="text-align: center"> Dashboard </H3>
<table class = "table">
   <thead>
      <tr>
         <th>Ip</th>
         <th>History</th>
         <th>Running </th>
         <th>Progress</th>
         <th>Configure</th>
      </tr>
   </thead>
   
   <tbody>
      <tr ng-repeat="client in clients">
         <td>{{client.ip}}</td>
         <td>{{client.history + " previous runs"}}</td>
         <td>{{displayProgressRank(client)}}</td>
         <td>{{client.progress + ' %'}}</td>
         <td ng-click="configure(client)"><span class="glyphicon glyphicon-cog"></span></td>
      </tr>
	</tbody>
</table>

<form>
<div class="input-group">
   <input type="text" class="form-control" placeholder="Add a new client" ng-model="newclient.ip">
   <span class="input-group-btn">
   <button class="btn btn-default" type="button" ng-click="addClient"><span class="glyphicon glyphicon-plus-sign"></span></button>
   </span>
</div>
 </form>

</div>