<div class="modal fade">
    <div class="modal-dialog" style="width: 80%; display: block">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close(null, 200)">&times;</button>
                <h4 class="modal-title">History {{client.ip}}</h4>
            </div>
            <div class="modal-body">

                <table class = "table table-striped">                   
                   <thead>
                      <tr>
                         <th>Total</th>
                         <th>Passed</th>
                         <th>Failed</th>
                         <th></th>
                	 <th><span class="glyphicon glyphicon-stats"></span></th>
                	 <th><span class="glyphicon glyphicon-file"></span></th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr ng-repeat="h in client.history">
                         <td>{{h.total}}</td>
                         <td>{{h.passed}}</td>
                         <td>{{h.failed}}</td>
                         <td>
                            <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar"
                                ng-style="{width: + getPercent(h.passed, h.total) + '%'}">
                              </div>
                              <div class="progress-bar progress-bar-danger" role="progressbar"
                                ng-style="{width: + getPercent(h.failed, h.total) + '%'}">
                              </div>
                              <div class="progress-bar progress-bar-warning" role="progressbar"
                                ng-style="{width: getPercent(h.total - h.passed - h.failed, h.total) + '%'}">
                              </div>
                            </div>
                         </td>
                         <td><a ng-href="/reports/{{client.ip}}/{{'client-' + h.timestamp + '.html'}}">R</a></td>
                         <td><a ng-href="/logs/{{client.ip}}/{{'client-' + h.timestamp + '.log'}}">L</a></td>
                      </tr>
                   </tbody>
                   
                </table>


            </div>
        </div>
    </div>
</div>
