<div>
    <H3 style="text-align: center">Reconnaissance</H3>
    <H5 style="text-align: center" ng-if="splitView === true">Grouped by client IP's</H5>
    <H5 style="text-align: center" ng-if="splitView === false"> Grouped by Test names </H5>
	<div class="btn-group pull-right" role="group">
		<button type="button" class="btn btn-secondary" ng-click="setSplitView(true)">
			<span class="glyphicon glyphicon-sort-by-attributes"></span>
		</button>
		<button type="button" class="btn btn-secondary" ng-click="setSplitView(false)">
			<span class="glyphicon glyphicon-compressed"></span>
		</button>
	</div>
	<div class="container">
		<H3 ng-if="splitView === null" style="text-align: center">No data yet!</H3>
	    <nvd3-multi-bar-chart
	    	tooltips="true"
	    	tooltipcontent="toolTipContentFunction()"
	    	ng-if="splitView === true"
            data="splitData"
            id="splits"
            width="800"
            height="400"
            showControls="true"
            showLegend="true"
            showXAxis="true"
            showYAxis="false">
        <svg></svg>
    </nvd3-multi-bar-chart>	    
    <nvd3-multi-bar-chart
            tooltips="true"
			tooltipcontent="toolTipContentFunction()"
	    	ng-if="splitView === false"
            data="consolidatedData"
            id="consolidated"
            width="800"
            height="400"
            showControls="true"
            showLegend="true"
            showXAxis="true"
            showYAxis="false">
        <svg></svg>
    </nvd3-multi-bar-chart>
	</div>
</div>
