<div>
    <H3 style="text-align: center">Automation Framework Global Settings</H3>
    <div class="alert alert-success">
        <strong ng-show="message">{{message}}</strong>
    </div>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="downloadUrl" class="col-sm-2 control-label">Download Url</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="downloadUrl" placeholder="Enter URL to download client.tgz" ng-model="settings.downloadUrl">
            </div>
        </div>
        <div class="form-group">
            <label for="installPath" class="col-sm-2 control-label">Install Path</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="installPath" placeholder="Install path" ng-model="settings.installPath">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Enter User Name" ng-model="settings.username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="password" placeholder="Enter Password" ng-model="settings.password">
            </div>
        </div>
        <div class="form-group">
            <label for="profile" class="col-sm-2 control-label">Profile</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="profile" placeholder="Enter Profile" ng-model="settings.profile">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="saveSettings()">Save Settings</button>
            </div>
        </div>
    </form>
</div>
