<div class="modal fade">
    <div class="modal-dialog" style="width: 100%; display: block">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close(null, 200)" data-backdrop="false">&times;</button>
                <h4 class="modal-title"> <span ng-click="loadStatsForClient(client)"><small class="glyphicon glyphicon-refresh"></small></span>

				Automation Server Statistics for {{client.ip}} 
                    <span class="glyphicon glyphicon-stop" ng-show="isRunning() == true" 
                       ng-click="abort()" style="color:red; cursor: pointer;"></span>
				</h4>
            </div>
            <div class="modal-body">

 <div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar"
	ng-style="{width: + getPercent('Pass') + '%'}">
  </div>
  <div class="progress-bar progress-bar-danger" role="progressbar"
	ng-style="{width: + getPercent('Fail') + '%'}">
  </div>
  <div class="progress-bar progress-bar-warning" role="progressbar"
    ng-style="{width: getPercent('Running') + '%'}">
  </div>
  <div class="progress-bar progress-bar-info" role="progressbar"
    ng-style="{width: getPercent('Abort') + '%'}">
  </div>
</div>
                <div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Commands</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer" ng-repeat="test in stats.testoutput" ng-click="showConsolePopup(test)">
                                    <td>{{test.name}}</td>
                                    <td>{{test.desc}}</td>
                                    <td style="white-space:pre">{{test.commands}}</td>
                                    <td>{{test.starttime}}</td>
                                    <td>{{test.endtime}}</td>
                                    <td>
					<span class="label" 
						ng-class="{'label-success': test.result == 'Pass',
						'label-warning': test.result == 'Running',
                        'label-danger': test.result == 'Fail',
                        'label-info': test.result == 'Abort',
						'label-default': test.result == 'Pending'}">{{test.result}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
